<!-- The HTML itself -->
<div id="header-widget" class="widget dark">
  <span id="left-icon"><img src="../static/images/House.svg" /></span>
  <span id="greeting-span" class="body-bold">Page Title</span>
  <span id="time-weather-span" class="body-regular">
    <span id="time-date-span"></span>
    <span id="weather-icon-span">
      <img src="../static/images/CloudRain.svg" />
    </span>
    <span id="temperature-span"></span>
  </span>
</div>

<!-- The JS Code -->
<script>
  // Get the weather data for a certain city (for now, we assume always Princeton,
  // though maybe we pull city based on IP addr later)

  function getWeather() {
    const zipCode = "08540";
    const countryCode = "us";
    // Don't just have this here lol, move to secure location later
    const apiKey = "36ec9764d698648eb0947ec40b047a8b";
    const url = `https://api.openweathermap.org/data/2.5/weather?zip=${zipCode},${countryCode}&appid=${apiKey}&units=imperial`;
    let weatherData;
    fetch(url)
      .then((response) => response.json())
      .then((data) => {
        $("#temperature-span").text(Math.round(data.main.temp) + "\u00B0F");
      })
      .catch(() => {
        console.error("Error occurred when fetching weather data");
      });
  }

  function getTimeDate() {
    let dt = new Date();
    let datePart = dt.toLocaleDateString().replaceAll("/", ".");
    datePart =
      datePart.slice(0, datePart.lastIndexOf(".") + 1) +
      datePart.slice(datePart.lastIndexOf(".") + 3);

    $("#time-date-span").text(
      dt.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" }) +
        " | " +
        datePart
    );
  }

  function setup() {
    getWeather();
    window.setInterval(getWeather, 30 * 60 * 1000); // Every half hour seems reasonable
    getTimeDate();
    window.setInterval(getTimeDate, 1000);
  }

  document.addEventListener("DOMContentLoaded", setup);
</script>
