<!DOCTYPE html>
<html>
  <head>
    <title>EMP Page (Change Title Later)</title>
    <link rel="stylesheet" href="../static/emp.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <p>Temporary page for testing</p>
    <div id="dashboard">{% include 'header-widget.html' %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </body>
</html>
