<!DOCTYPE html>
<html>
  <head>
    <title>EMP Page (Change Title Later)</title>
    <link rel="stylesheet" href="../static/emp.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <p>Temporary page for testing</p>
    <div class="center-screen">
      <div id="dashboard">
        <!-- Header -->
        {% include 'header-widget.html' %}
        <!-- Lab Summary -->
        {% include 'lab-summary-widget.html' %}
        <!-- Mini Fume Hood Widgets -->
        <div class="fume-hood-widget-container widget-container">
          {% for i in range(4) %}
          <!-- Widgets -->
          <span>
            {% with fume_hood_name="Fume Hood #" + (i + 1)|string %}{% include
            'mini-fume-hood-widget.html' %} {% endwith %}</span
          >
          <!-- End -->
          {% endfor %}
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </body>
</html>
