<div class="widget-container">
  <div class="lab-summary-widget widget">
    <div class="lab-summary-title">
      <span class="lab-summary-title-name body-small">
        Lab Summary | Rabinowitz, Icahn 201
      </span>
      <span class="lab-summary-details-options">
        <a href="" class="lab-summary-details">See Lab Details</a>
        <img src="../static/images/GearSix.svg" class="lab-summary-options" />
      </span>
    </div>
    <div class="lab-summary-content">
      <span class="lab-summary-today-consumption">
        <div class="lab-summary-today-kwh widget-medium">4.75 kWh</div>
        <div class="lab-summary-today-text body-small">
          Today's Energy Consumption
        </div>
      </span>
      <span class="lab-summary-current-consumption">
        <div class="lab-summary-current-kw widget-medium">1.25 kW</div>
        <div class="lab-summary-current-text body-small">
          Current Power Consumption
        </div>
      </span>
      <span class="lab-summary-number-active">
        <div class="lab-summary-number widget-medium">1 of 4</div>
        <div class="lab-summary-number-text body-small">Fume Hoods in Use</div>
      </span>
    </div>
  </div>
</div>
