* {
  margin: 0px;
  padding: 0px;
}

html {
  background: #e5e5e5;
}

body,
a {
  font-family: "Public Sans", sans-serif;
  color: white;
}

.red {
  color: #d14112;
}

.green {
  color: #00c08b;
}

.center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Text Styles */
.body-regular {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.body-small {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.body-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.nav-small {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
}

.nav-regular {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
}

.header-medium {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
}

.button-small {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.widget-medium {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.widget-large {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
}

.widget {
  margin-bottom: 16px;
  border-radius: 4px;
}

.dark {
  background: #2a2a2a;
  backdrop-filter: blur(24px);
}

.widget-container {
  width: 100%;
}

/* ----------------------------------------------------------------------------- */
/* Heading Label                                                                 */
/* ----------------------------------------------------------------------------- */

.heading-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4px 8px;
}

.heading-label-right-align {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

/* ----------------------------------------------------------------------------- */
/* Email Print Report                                                            */
/* ----------------------------------------------------------------------------- */

.email-print-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4px 8px;
}

.email-print-label-right-align {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

/* ----------------------------------------------------------------------------- */
/* Dashboard                                                                     */
/* ----------------------------------------------------------------------------- */
#dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px 56px 32px;

  width: 656px; /* 768 - 112 */
  /* min-width: 656px; */
  height: 936px; /* 1024 - 56 - 32, since figma doesn't count padding for height */

  background: linear-gradient(
    32.82deg,
    #2a2a2a -7.28%,
    rgba(42, 42, 42, 0.75) 107.76%
  );
  backdrop-filter: blur(24px);
}

/* ----------------------------------------------------------------------------- */
/* Header Widget                                                                 */
/* ----------------------------------------------------------------------------- */

#header-widget {
  display: flex;
  align-items: flex-start;
  padding: 24px;
}

.header-widget-right-align {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.greeting-span {
  margin: 0px 0px 0px 16px;
}

#dark-mode-icon,
#hamburger-icon,
.caret-down-icon,
.lab-summary-options,
#money-mode-icon {
  cursor: pointer;
}

.menu-hidden {
  display: none;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------- */
/* Graph Widget                                                                  */
/* ----------------------------------------------------------------------------- */

.graph-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;

  width: 608px;
  height: 232px;

  border-radius: 4px;
}

.yAxis-label {
  opacity: 100%;
}

label {
  display: inline-block;
  margin: 0 32px 0 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: #00c08b;
  font-weight: bold;
}

/* ----------------------------------------------------------------------------- */
/* Lab Summary Widget                                                            */
/* ----------------------------------------------------------------------------- */

.lab-summary-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 24px 24px;
}

.lab-summary-options-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 608px;
  height: 18px;
  left: 24px;
  top: 114px;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px;
}

.lab-summary-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 16px;

  align-self: stretch;
}

.lab-summary-details-options {
  display: flex;
  align-items: center;
}

.lab-summary-details {
  margin: 0px 16px;
}

.lab-summary-content {
  display: flex;
  align-items: flex-start;

  align-self: stretch;
  margin: 4px 0px;
}

.lab-summary-today-consumption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex-grow: 1;
}

.lab-summary-today-kwh {
  margin: 4px 0px;
}

.lab-summary-current-consumption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex-grow: 1;
}

.lab-summary-current-text {
  color: #00c08b;
}

.lab-summary-current-kw {
  color: #00c08b;
  margin: 4px 0px;
}

.lab-summary-number-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  order: 2;
}

.lab-summary-number {
  color: #00c08b;
  margin: 4px 0px;
}

.lab-summary-number-text {
  /* Removing this aligns the end of this w the right side, idk if we want that */
  width: 181.33px;
  color: #00c08b;
}

/* ----------------------------------------------------------------------------- */
/* Mini Fume Hood Widget                                                         */
/* ----------------------------------------------------------------------------- */

.fume-hood-widget-container {
  display: flex;
  justify-content: space-between;
}

.mini-fume-hood-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
}

.mini-fume-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0px 0px 36px;
}

.mini-fume-energy {
  margin: 4px 0px;
}

.mini-fume-status {
  display: flex;
  align-items: center;
  padding: 0px 0px 16px;

  width: 104px;

  flex-grow: 0;
}

.mini-fume-status-text {
  flex-grow: 1;
}

/* ----------------------------------------------------------------------------- */
/* Power/Energy Consumption Widgets                                              */
/* ----------------------------------------------------------------------------- */

.consumption-widget-container {
  display: flex;
  justify-content: space-between;
}

.power-consumption-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background: linear-gradient(
    75.8deg,
    #00c08b -4.3%,
    rgba(0, 192, 139, 0.5) 104.49%
  ) !important;
  backdrop-filter: blur(24px);

  border-radius: 4px;
}

.energy-consumption-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;

  backdrop-filter: blur(24px);

  border-radius: 4px;
}

.consumption-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: static;
  width: 272px;
  height: 54px;
  left: 24px;
  top: 60px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.power-consumption-misc {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;

  position: static;
  width: 272px;
  height: 18px;
  left: 24px;
  top: 118px;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.energy-consumption-usage {
  color: #d14112;
}

/* ----------------------------------------------------------------------------- */
/* Device Toggle Widgets                                                         */
/* ----------------------------------------------------------------------------- */

.device-toggle-widget-container {
  display: flex;
  justify-content: space-between;
}

.device-toggle-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;

  background: #2a2a2a;
  backdrop-filter: blur(24px);

  border-radius: 4px;
}

.toggle-heading {
  width: 272px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: space-between;

  align-self: stretch;
}

.toggle-title {
  flex-grow: 0;
  display: flex;
}

.toggle-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;

  width: 272px;
  height: 18px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px 0px 0px;
}
.toggle-date {
  display: flex;
}

/* ----------------------------------------------------------------------------- */
/* Toggle Switch                                                                 */
/* ----------------------------------------------------------------------------- */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d14112;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00c08b;
}

input:focus + .slider {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ----------------------------------------------------------------------------- */
/* Fumehood Summary Widget                                                       */
/* ----------------------------------------------------------------------------- */

.fumehood-summary-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 24px 24px;
}

.fumehood-summary-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 16px;

  align-self: stretch;
}

.fumehood-summary-details-options {
  display: flex;
  align-items: center;
}

.fumehood-summary-details {
  margin: 0px 16px;
}

.fumehood-summary-content {
  display: flex;
  align-items: flex-start;

  align-self: stretch;
  margin: 4px 0px;
}

.fumehood-summary-today-consumption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex-grow: 1;
}

.fumehood-summary-today-kwh {
  margin: 4px 0px;
}

.fumehood-summary-current-consumption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex-grow: 1;
}

.fumehood-summary-current-kw {
  margin: 4px 0px;
}

.fumehood-summary-number-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  order: 2;
}

.fumehood-summary-number {
  margin: 4px 0px;
}

.fumehood-summary-number-text {
  /* Removing this aligns the end of this w the right side, idk if we want that */
  width: 181.33px;
}

/* ----------------------------------------------------------------------------- */
/* Report Widget                                                                 */
/* ----------------------------------------------------------------------------- */

.report-widget {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.report-widget-right-align {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.report-widget-container {
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.report-widget-nest:nth-child(odd) {
  background-color: #2a2a2a;
}

.report-widget-nest:nth-child(even) {
  background-color: #414141;
}

.light-report-widget-nest:nth-child(odd) {
  background-color: white;
}

.light-report-widget-nest:nth-child(even) {
  background-color: #f7f7f7;
}
