/* Thoughts on using scss? Mainly for nesting neatness */

body {
  font-family: "Public Sans", sans-serif;
  color: white;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dark {
  color: #ffffff;
}

/* Text Styles */
.body-regular {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.body-small {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.body-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.nav-small {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
}

.header-medium {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
}

.button-small {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.widget-medium {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.widget-large {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
}

.widget {
  margin-bottom: 16px;
  border-radius: 4px;

  /* For dark mode only */
  background: #2a2a2a;
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */
}

.widget-container {
  width: 100%;
}

/* ----------------------------------------------------------------------------- */
/* Dashboard                                                                     */
/* ----------------------------------------------------------------------------- */
#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 56px 32px;

  width: 656px; /* 768 - 112 */
  min-width: 656px;
  height: 936px; /* 1024 - 56 - 32, since figma doesn't count padding for height */

  background: linear-gradient(
    32.82deg,
    #2a2a2a -7.28%,
    rgba(42, 42, 42, 0.75) 107.76%
  );
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */
}

/* ----------------------------------------------------------------------------- */
/* Header Widget                                                                 */
/* ----------------------------------------------------------------------------- */

#header-widget {
  display: flex;
  align-items: flex-start;
  padding: 24px;
}

#time-weather-span {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  flex-grow: 1;
}

#time-date-span {
  color: #ffffff;
}

#greeting-span {
  letter-spacing: 0.1px;
  margin: 0px 16px;
}

#weather-icon {
  margin: 0px 16px;
}

/* ----------------------------------------------------------------------------- */
/* Header Widget 2                                                               */
/* ----------------------------------------------------------------------------- */

#header-widget-2 {
  display: flex;
  align-items: flex-start;
  padding: 24px;
}

#dark-mode-span {
  display: flex;
  justify-content: flex-end;

  flex-grow: 1;
}

#greeting-span-2 {
  letter-spacing: 0.1px;
  margin: 0px 16px;
}

#dark-mode-icon {
  cursor: pointer;
}

/* ----------------------------------------------------------------------------- */
/* Lab Summary Widget                                                            */
/* ----------------------------------------------------------------------------- */

.lab-summary-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 24px 24px;
}

.graph-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;

  width: 608px;
  height: 280px;

  /* Gray 90 */
  background: #2A2A2A;
  border-radius: 4px;
}

.lab-summary-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 16px;

  align-self: stretch;
}

.lab-summary-title-name {
  color: #ffffff;
}

.lab-summary-details-options {
  display: flex;
  align-items: center;
}

.lab-summary-details {
  color: #ffffff;

  margin: 0px 16px;
}

.lab-summary-content {
  display: flex;
  align-items: flex-start;

  align-self: stretch;
  margin: 4px 0px;
}

.lab-summary-today-consumption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex-grow: 1;
}

.lab-summary-today-kwh {
  color: #ffffff;

  margin: 4px 0px;
}

.lab-summary-today-text {
  color: #ffffff;
}

.lab-summary-current-consumption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex-grow: 1;
}

.lab-summary-current-text {
  color: #00c08b;
}

.lab-summary-current-kw {
  color: #00c08b;
  margin: 4px 0px;
}

.lab-summary-number-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  order: 2;
}

.lab-summary-number {
  color: #00c08b;
  margin: 4px 0px;
}

.lab-summary-number-text {
  /* Removing this aligns the end of this w the right side, idk if we want that */
  width: 181.33px;
  color: #00c08b;
}

/* ----------------------------------------------------------------------------- */
/* Mini Fume Hood Widget                                                         */
/* ----------------------------------------------------------------------------- */

.fume-hood-widget-container {
  display: flex;
  justify-content: space-between;
}

.mini-fume-hood-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
}

.mini-fume-details {
  color: #ffffff;
}

.mini-fume-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0px 0px 36px;
}

.mini-fume-name {
  color: #ffffff;
}

.mini-fume-energy {
  color: #ffffff;
  margin: 4px 0px;
}

.mini-fume-status {
  display: flex;
  align-items: center;
  padding: 0px 0px 16px;

  width: 104px;

  flex-grow: 0;
}

.mini-fume-status-text {
  color: #d14112;

  flex-grow: 1;
}

/* ----------------------------------------------------------------------------- */
/* Power/Energy Consumption Widgets                                              */
/* ----------------------------------------------------------------------------- */

.consumption-widget-container {
  display: flex;
  justify-content: space-between;
}

.power-consumption-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background: linear-gradient(
    75.8deg,
    #00c08b -4.3%,
    rgba(0, 192, 139, 0.5) 104.49%
  );
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 4px;
}

.energy-consumption-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;

  background: #2a2a2a;
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 4px;
}

.consumption-title {
  color: #ffffff;
}

.consumption-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: static;
  width: 272px;
  height: 54px;
  left: 24px;
  top: 60px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.consumption-energy {
  color: #ffffff;
}

.power-consumption-misc {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;

  position: static;
  width: 272px;
  height: 18px;
  left: 24px;
  top: 118px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.power-consumption-percent {
  color: #ffffff;
}

.consumption-date {
  color: #ffffff;
}

.energy-consumption-usage {
  color: #d14112;
}

/* ----------------------------------------------------------------------------- */
/* Device Toggle Widgets                                                         */
/* ----------------------------------------------------------------------------- */

.device-toggle-widget-container {
  display: flex;
  justify-content: space-between;
}

.device-toggle-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;

  background: #2A2A2A;
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 4px;
}

.toggle-heading {
  /* Auto Layout */
  width: 272px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: space-between;


/* Inside Auto Layout */


  align-self: stretch;
}
.toggle-title {
  color: #ffffff;
  flex-grow: 0;
  display: flex;
}

.toggle-power {
  color: #ffffff;
}

.toggle-info {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;

  width: 272px;
  height: 18px;
  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px 0px 0px;
}
.toggle-date {
  color: #ffffff;
  display: flex;
}

.toggle-switch {

}

/* ----------------------------------------------------------------------------- */
/* Toggle Switch                                                       */
/* ----------------------------------------------------------------------------- */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d14112;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00c08b;
}

input:focus + .slider {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ----------------------------------------------------------------------------- */
/* Fumehood Summary Widget                                                       */
/* ----------------------------------------------------------------------------- */

.fumehood-summary-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 24px 24px;
}

.fumehood-summary-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 16px;

  align-self: stretch;
}

.fumehood-summary-title-name {
  color: #ffffff;
}

.fumehood-summary-details-options {
  display: flex;
  align-items: center;
}

.fumehood-summary-details {
  color: #ffffff;

  margin: 0px 16px;
}

.fumehood-summary-content {
  display: flex;
  align-items: flex-start;

  align-self: stretch;
  margin: 4px 0px;
}

.fumehood-summary-today-consumption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex-grow: 1;
}

.fumehood-summary-today-kwh {
  color: #ffffff;

  margin: 4px 0px;
}

.fumehood-summary-today-text {
  color: #ffffff;
}

.fumehood-summary-current-consumption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex-grow: 1;
}

.fumehood-summary-current-text {
  color: #ffffff;
}

.fumehood-summary-current-kw {
  color: #ffffff;
  margin: 4px 0px;
}

.fumehood-summary-number-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  order: 2;
}

.fumehood-summary-number {
  color: #ffffff;
  margin: 4px 0px;
}

.fumehood-summary-number-text {
  /* Removing this aligns the end of this w the right side, idk if we want that */
  width: 181.33px;
  color: #ffffff;
}

.fumehood-open {
  color: #d14112;
}
