<div class="widget">
  <div class="graph-widget">
    <div class="body-small">Placeholder Identifier | {{lab_name}} {{type_of_graph}}</div>
    <div>
      <svg width="608" height="156" class="barchart" id="barchart-dates"></svg>
      <svg width="608" height="156" class="barchart" id="barchart-weeks" style="display: none;"></svg>
      <svg width="608" height="156" class="barchart" id="barchart-sixMonths" style="display: none;"></svg>
      <svg width="608" height="156" class="barchart" id="barchart-years" style="display: none;"></svg>
    </div>
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: stretch;
      "
    >
      <!-- Duration Selection List -->
      <div style="display: flex; flex-direction: row">
        <input type="radio" id="1w" name="duration" checked />
        <label class="body-small" for="1w" onclick="hideAllBut('#barchart-dates')"
          >1-Week</label
        >

        <input type="radio" id="1m" name="duration" />
        <label class="body-small" for="1m" onclick="hideAllBut('#barchart-weeks')"
          >1-Month</label
        >

        <input type="radio" id="6m" name="duration" />
        <label class="body-small" for="6m" onclick="hideAllBut('#barchart-sixMonths')"
          >6-Months</label
        >

        <input type="radio" id="1y" name="duration" />
        <label class="body-small" for="1y" onclick="hideAllBut('#barchart-years')"
          >1-Year</label
        >
      </div>
      <!-- Unit Label -->
      <div class="body-small">Hrs/Day</div>
    </div>
  </div>
</div>

<script>
  function buildChart(data, id) {
    let dark_mode_on = localStorage.getItem("dark_mode_on") ?? "1";

    if (dark_mode_on === '0') color = "#2A2A2A";
    else color = "white";

    // Selecting and defining work area in the SVG
    var svg = d3.select(id),
      margin = 24,
      width = svg.attr("width"),
      height = svg.attr("height") - margin;

    svg.selectAll("*").remove();

    // Setting X and Y axis ranges
    var xScale = d3.scaleBand().range([0, width]).padding(0.5),
      yScale = d3.scalePow().range([height, 0]);

    // Appending a Graph to work with to the SVG
    var g = svg.append("g");

    xScale.domain(data["labels"]);
    yScale.domain([-2, d3.max(data.time)]);

    arrData = [];
    for (let i = 0; i < data["labels"].length; i++) {
      arrData.push({
        labels: data["labels"][i],
        time: data["time"][i],
      });
    }

    var xAxis = g
      .append("g")
      .attr("transform", "translate(0," + (height + 4) + ")")
      .call(d3.axisBottom(xScale));

    xAxis.selectAll("line").style("display", "none");

    xAxis.selectAll("path").style("display", "none");

    xAxis
      .selectAll("text")
      .style("fill", color)
      .style("font-size", "12px")
      .style("font-family", "Public Sans, sans-serif");

    g.selectAll(".bar")
      .data(arrData)
      .enter()
      .append("rect")
      .style("fill", color)
      .attr("class", "bar")
      .attr("x", function (d) {
        return xScale(d.labels) + 0.5 * xScale.bandwidth() - 2;
      })
      .attr("y", function (d) {
        return yScale(d.time) + margin;
      })
      .attr("width", 4)
      .attr("rx", 2)
      .attr("height", function (d) {
        return height - yScale(d.time) - margin;
      });

    // Get the y axis value on top
    g.selectAll("text.bar")
      .data(arrData)
      .enter()
      .append("text")
      .style("fill", color)
      .style("font-size", "12px")
      .style("font-family", "Public Sans, sans-serif")
      .attr("text-color", color)
      .attr("text-anchor", "middle")
      .attr("fill", "#70747a")
      .attr("x", function (d) {
        return xScale(d.labels) + 0.5 * xScale.bandwidth();
      })
      .attr("y", function (d) {
        return yScale(d.time) + margin - 12;
      })
      .text(function (d) {
        return d.time;
      });
  }

  function hideAllBut(id) {
    $(".barchart").hide();
    console.log(id);
    $(id).show();
  }

  function buildAllCharts() {
    buildChart(data_dict["dates"], '#barchart-dates');
    buildChart(data_dict["weeks"], '#barchart-weeks');
    buildChart(data_dict["sixMonths"], '#barchart-sixMonths');
    buildChart(data_dict["years"], '#barchart-years');
  }

  let data_dict = {
    dates: {
      labels: [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7],
      // time: ['3 hrs','4 hrs','5 hrs','4 hrs','3 hrs','2 hrs','4 hrs',],
      time: [3, 6, 8, 1, 2, 3, 8],
    },
    weeks: {
      labels: ["10.1-10.7", "10.8-10.14", "10.15-10.22", "10.23-10.29"],
      time: [13, 16, 13, 18],
    },
    sixMonths: {
      labels: [4, 5, 6, 7, 8, 9],
      time: [50, 49, 60, 58, 12, 20],
    },
    years: {
      labels: [2019, 2020, 2021],
      time: [600, 789, 406],
    },
  };

  buildAllCharts();
</script>
