<div style="margin-bottom: 16px; width: 100%;">
    <div class="nav-regular email-print-label">
        <span><a href="mailto:?subject=subject&body=body">Email Report</a></span>
        <span class="email-print-label-right-align">
            <span style="margin-right: 16px"><a href="">Print Report</a></span>
            <a href="">
                <img class="printer-icon light-icon" src="../static/images/Printer.svg">
                <img class="printer-icon invisible-icon dark-icon" src="../static/images/Printer_dark.svg">
            </a>
        </span>
    </div>
</div>