<div class="energy-consumption-widget widget">
  <div class="consumption-title body-small">24-Hour Energy Consumption</div>
  <div class="consumption-content">
    <div class="consumption-energy widget-large" id="{{lab_name}}-today-kwh"></div>
  </div>
  <div class="power-consumption-misc">
  <span>
    <span class="energy-consumption-usage body-small" id="{{lab_name}}-number"></span>
    <span class="energy-consumption-usage body-small"> Fume Hoods in Use</span>
  </span>
    <span class="consumption-date body-small"></span>
  </div>
</div>
