<div class="energy-consumption-widget widget dark">
  <div class="consumption-title body-small">Today's Energy Consumption</div>
  <div class="consumption-content">
    <div
      class="consumption-energy widget-large"
      id="{{lab_id}}-today-kwh"
    ></div>
  </div>
  <div class="power-consumption-misc body-small">
    <span>
      <span class="energy-consumption-usage" id="{{lab_id}}-number"></span>
      <span class="energy-consumption-usage"> Fume Hoods in Use</span>
    </span>
    <span class="consumption-date"></span>
  </div>
</div>
