<div class="power-consumption-widget widget dark green-grad">
  <div class="consumption-title body-small">Energy Change Since Yesterday</div>
  <div class="consumption-content">
    <span
      class="consumption-energy widget-large"
      id="{{lab_id}}-nrg-trend"
    ></span>
    <img src="../static/images/Leaf.svg" />
  </div>
  <div class="power-consumption-misc body-small">
    <span>
      <span>Average Energy Consumption: </span>
      <span id="{{lab_id}}-ave-nrg"></span>
    </span>
  </div>
</div>
