<div class="widget-container">
    <div id="header-widget" class="widget dark">
    {% if back_arrow_link %}
      <a href="{{back_arrow_link}}">
      <img class="arrow-left-icon light-icon icon"
      src="{{ url_for ('static', filename='images/ArrowLeft.svg')}}" />
      <img class="arrow-left-icon dark-icon invisible-icon icon"
      src="{{ url_for ('static', filename='images/ArrowLeft_dark.svg')}}" />
      </a>
    {% else %}
      <img class="hamburger-icon light-icon icon"
      src="{{ url_for ('static', filename='images/List.svg')}}" />
      <img class="hamburger-icon dark-icon invisible-icon icon"
      src="{{ url_for ('static', filename='images/List_dark.svg')}}" />
      <img class="x-icon light-icon invisible-icon icon"
      src="{{ url_for ('static', filename='images/X.svg')}}" />
      <img class="x-icon dark-icon invisible-icon icon"
      src="{{ url_for ('static', filename='images/X_dark.svg')}}" />
    {% endif %}

      <span class="greeting-span body-bold menu-visible">{{page_name}}</span>
      <span class="greeting-span body-bold menu-hidden"><a href="/" style="text-decoration: none;">Lab Dashboard</a></span>
      <span class="greeting-span body-bold menu-hidden"><a href="/lab_summary?lab_id=rabinowitz_icahn_201&lab_name=Rabinowitz%2C%20Icahn%20201" style="text-decoration: none;">Primary Lab</a></span>
      <span class="greeting-span body-bold menu-hidden"><a href="/report_archive" style="text-decoration: none;">Report Archive</a></span>
      <span class="header-widget-right-align">
      {% if money_mode_allowed %}
      <img class="money-mode-icon light-icon light-money-icon icon"
      src="{{ url_for ('static', filename='images/MoneyMode.svg')}}" style="margin-right: 12px" />
      <img class="money-mode-icon dark-icon dark-money-icon invisible-icon icon"
      src="{{ url_for ('static', filename='images/MoneyMode_dark.svg')}}" style="margin-right: 12px" />
      <img class="money-mode-icon green-icon invisible-icon icon"
      src="{{ url_for ('static', filename='images/MoneyMode_green.svg')}}" style="margin-right: 12px" />
      {% endif %}
      <img class="dark-mode-icon light-icon icon"
      src="{{ url_for ('static', filename='images/LightMode.svg')}}" />
      <img class="dark-mode-icon dark-icon invisible-icon icon"
      src="{{ url_for ('static', filename='images/DarkMode.svg')}}" />

      </span>
    </div>
  </div>
