<!-- The HTML itself -->
<div class="widget-container">
    <div id="header-widget" class="widget dark">
      <img id="hamburger-icon" src="../static/images/List.svg" />
      <span class="greeting-span body-bold">{{page_name}}</span>
      <span id="{{lab_name}}-temperature" class="greeting-span body-bold menu-visible"></span>
      <span class="greeting-span body-bold menu-hidden"><a href="/lab_summary?lab_name=rabinowitz_icahn_201">Primary Lab</a></span>
      <span class="greeting-span body-bold menu-hidden">Profile</span>
      <span class="greeting-span body-bold menu-hidden">Report Archive</span>
      <span id="dark-mode-span">
        <img id="dark-mode-icon" src="../static/images/LightMode.svg" />
      </span>
    </div>
  </div>