<!-- The HTML itself -->
<div class="widget-container">
    <div id="header-widget" class="widget dark">
      <img class="hamburger-icon light-icon" src="{{ url_for ('static', filename='images/List.svg')}}" />
      <img class="hamburger-icon dark-icon invisible-icon" src="{{ url_for ('static', filename='images/List_dark.svg')}}" />
      <span class="greeting-span body-bold">{{page_name}}</span>
      <span id="{{lab_name}}-temperature" class="greeting-span body-bold menu-visible"></span>
      <span class="greeting-span body-bold menu-hidden"><a href="/lab_summary?lab_name=rabinowitz_icahn_201" style="text-decoration: none;">Primary Lab</a></span>
      <!-- <span class="greeting-span body-bold menu-hidden">(Profile)</span> -->
      <span class="greeting-span body-bold menu-hidden"><a href="/report_archive" style="text-decoration: none;">Report Archive</a></span>
      <span class="header-widget-right-align">
        <img class="money-mode-icon light-icon" src="{{ url_for ('static', filename='images/MoneyMode.svg')}}" style="margin-right: 8px" />
        <img class="money-mode-icon dark-icon invisible-icon" src="{{ url_for ('static', filename='images/MoneyMode_dark.svg')}}" style="margin-right: 8px" />
        <img class="dark-mode-icon light-icon" src="{{ url_for ('static', filename='images/LightMode.svg')}}" />
        <img class="dark-mode-icon dark-icon invisible-icon" src="{{ url_for ('static', filename='images/DarkMode.svg')}}" />
      </span>
    </div>
  </div>
