<!DOCTYPE html>
<html>
  <head>
    <title>EMP Page (Change Title Later)</title>
    <link rel="stylesheet" href="../static/emp.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- Importing JQuery at beginning for use in everything else -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Importing d3.js at the beginning for use in data visualizations -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

  <body>
    <p>Temporary page for testing</p>
    <div class="center-screen">
      <div id="dashboard">
        <!-- Header -->
        {% include 'header-widget.html' %}
        <!-- Header, Dark Mode option -->
        {% include 'header-widget-2.html' %}
        <!-- Lab Summary -->
        {% include 'lab-summary-widget.html' %}
        <!-- Graph Widget -->
        {% include 'barchart-widget.html' %}
        <!-- Mini Fume Hood Widgets -->
        <div class="fume-hood-widget-container widget-container">
          {% for i in range(4) %}
          <!-- Widgets -->
          <span>
            {% with fumehood_name="Fume Hood #" + (i + 1)|string,
            fumehood_id='fumehood' + i|string %}
            <!-- Indiv Widgets -->
            {% include 'mini-fume-hood-widget.html' %}
            <!--  -->
            {% endwith %}
          </span>
          <!-- End -->
          {% endfor %}
        </div>
        <div class="consumption-widget-container widget-container">
          <span> {% include 'power-consumption-widget.html' %} </span>
          <span> {% include 'energy-consumption-widget.html' %} </span>
        </div>
        <div class="device-toggle-widget-container widget-container">
          <span> {% include 'device-toggle-widget.html' %} </span>
          <span> {% include 'device-toggle-widget.html' %} </span>
        </div>
        {% include 'fumehood-summary-widget.html' %}
      </div>
    </div>
  </body>

  <script>
    "use strict";

    function handleResponse(response) {
      // $("#temporary_fumehood_data").html(response);
      for (const [key, value] of Object.entries(response)) {
        $("#fumehood" + key).text(value + " kW");
        console.log(key, value);
      }
      // console.log(response);
    }
    let request = null;

    function get_fumehood_data() {
      let url = "/fumehood_stuff";
      if (request != null) request.abort();

      request = $.ajax({
        type: "GET",
        url: url,
        success: handleResponse,
      });
    }

    function initial_render() {
      let url = "/";
      if (request != null) request.abort();

      request = $.ajax({
        type: "GET",
        url: url,
        success: handle_initial_render,
      });
    }

    function setup() {
      // get_fumehood_data();
      // window.setInterval(get_fumehood_data, 1000);
      initial_render()
    }

    $("document").ready(setup);
  </script>
</html>
