<div class="widget-container">
  <div class="lab-summary-widget widget dark">
    <div class="lab-summary-title">
      <span class="lab-summary-title-name body-small">
        Lab Summary | {{lab_name}}
      </span>
      <span class="lab-summary-details-options">
        <a
          href="/lab_summary?lab_name={{lab_name}}"
          class="activate_{{lab_name}} lab-summary-details nav-small"
          >See Lab Details</a
        >
        <img
          src="{{ url_for ('static', filename='images/GearSix.svg')}}"
          class="lab-summary-options light-icon"
          onclick="options()"
        />
        <img
          src="{{ url_for ('static', filename='images/GearSix_dark.svg')}}"
          class="lab-summary-options dark-icon invisible-icon"
          onclick="options()"
        />
      </span>
    </div>
    <div class="lab-summary-content">
      <!-- The gear box display -->
      <div class="body-small lab-summary-gear-disp" style="display: none">
        <div>Select 3 options.</div>
        <form action="/action_page.php">
          <div class="lab-summary-options-row">
            <span class="lab-summary-checkbox-span">
              <input type="checkbox" id="nrg-cons-check" />
              <label for="nrg-cons-check">Energy Consumption</label>
            </span>
            <span class="lab-summary-checkbox-span">
              <input type="checkbox" id="pwr-cons-check" />
              <label for="pwr-cons-check">Power Consumption</label>
            </span>
            <span class="lab-summary-checkbox-span">
              <input type="checkbox" id="hood-usage-check" />
              <label for="hood-usage-check">Fume Hood Use Status</label>
            </span>
          </div>
          <div class="lab-summary-options-row">
            <span class="lab-summary-checkbox-span">
              <input type="checkbox" id="occ-ratio-check" />
              <label for="occ-ratio-check">Occupancy Ratio</label>
            </span>
            <span class="lab-summary-checkbox-span">
              <input type="checkbox" id="ave-nrg-check" />
              <label for="ave-nrg-check">Average Energy Used</label>
            </span>
            <span class="lab-summary-checkbox-span">
              <input type="checkbox" id="nrg-trend-check" />
              <label for="nrg-trend-check">Energy Trend</label>
            </span>
          </div>
        </form>
      </div>

      <span class="lab-summary-today-consumption lab-summary-option">
        <div
          class="lab-summary-today-kwh widget-medium"
          id="{{lab_name}}-today-kwh"
        ></div>
        <div class="lab-summary-today-text body-small">
          Today's Energy Consumption
        </div>
      </span>
      <span class="lab-summary-current-consumption lab-summary-option">
        <div
          class="lab-summary-current-kw widget-medium"
          id="{{lab_name}}-current-kw"
        ></div>
        <div class="lab-summary-current-text body-small">
          Current Power Consumption
        </div>
      </span>
      <span class="lab-summary-number-active lab-summary-option">
        <div
          class="lab-summary-number widget-medium"
          id="{{lab_name}}-number"
        ></div>
        <div class="lab-summary-number-text body-small">Fume Hoods in Use</div>
      </span>

      <!-- Occ Ratio -->
      <span
        class="lab-summary-occ-ratio lab-summary-option"
        style="display: none"
      >
        <div class="lab-summary-occ widget-medium" id="{{lab_name}}-occ"></div>
        <div class="lab-summary-occ-text body-small">Occupancy Percentage</div>
      </span>

      <!-- ave nrg -->
      <span
        class="lab-summary-ave-nrg lab-summary-option"
        style="display: none"
      >
        <div
          class="lab-summary-inner-ave-nrg widget-medium"
          id="{{lab_name}}-ave-nrg"
        ></div>
        <div class="lab-summary-ave-nrg-text body-small">
          Average Energy Used
        </div>
      </span>

      <!-- nrg trend -->
      <span
        class="lab-summary-nrg-trend lab-summary-option"
        style="display: none"
      >
        <div
          class="lab-summary-inner-nrg-trend widget-medium"
          id="{{lab_name}}-nrg-trend"
        ></div>
        <div class="lab-summary-nrg-trend-text body-small">
          the Energy Used Yesterday
        </div>
      </span>
    </div>
  </div>
</div>

<script>
  // On startup
  function setup() {
    let checkboxNames =
      localStorage.getItem("checked") ??
      "nrg-cons-check;pwr-cons-check;hood-usage-check";
    setChecks(checkboxNames);
    localStorage.setItem("checked", checkboxNames);
  }

  function setChecks(checkStr) {
    let checkArr = checkStr.split(";");
    let allCheckboxes = $(".lab-summary-gear-disp input");
    allCheckboxes.each(function (index) {
      $(this).prop("checked", false);
    });
    checkArr.forEach((id) => {
      $("#" + id).prop("checked", true);
    });
  }

  // arr is an array containing the ids of the inputs
  // that were checked in the function
  function displayInnerWidgets(arr) {
    arr.forEach((id) => {
      switch (id) {
        case "nrg-cons-check":
          $(".lab-summary-today-consumption").css("display", "flex");
          break;
        case "pwr-cons-check":
          $(".lab-summary-current-consumption").css("display", "flex");
          break;
        case "hood-usage-check":
          $(".lab-summary-number-active").css("display", "flex");
          break;
        case "occ-ratio-check":
          $(".lab-summary-occ-ratio").css("display", "flex");
          break;
        case "ave-nrg-check":
          $(".lab-summary-ave-nrg").css("display", "flex");
          break;
        case "nrg-trend-check":
          $(".lab-summary-nrg-trend").css("display", "flex");
          break;
      }
    });
  }

  function options() {
    let allCheckboxes = $(".lab-summary-gear-disp input");
    let checkboxNames = [];

    // If the gear was clicked when the options weren't displayed, display
    // them and do nothing more
    let allOptions = $(".lab-summary-option");
    if ($(".lab-summary-gear-disp").css("display") == "none") {
      $(".lab-summary-gear-disp").css("display", "");
      allOptions.css("display", "none");
      return;
    }

    allCheckboxes.each(function (index) {
      if ($(this).is(":checked")) {
        checkboxNames.push($(this).attr("id"));
      }
    });
    if (checkboxNames.length > 3) {
      return;
    }

    $(".lab-summary-gear-disp").css("display", "none");

    // This keeps the old ones checked if there are fewer than 3
    if (checkboxNames.length < 3) {
      let oldChecksArr = localStorage.getItem("checked");
      setChecks(oldChecksArr);
      displayInnerWidgets(oldChecksArr.split(";"));
      return;
    }

    // If it gets to this point, it means we have a valid combo of checks;
    // We can now set these ones to be displayed

    // First, hide all the boxes for simplicity

    allOptions.css("display", "none");
    displayInnerWidgets(checkboxNames);

    localStorage.setItem("checked", checkboxNames.join(";"));
  }

  $("document").ready(setup);
</script>
