<div
  class="widget-container report-widget-nest report-widget-internal-container"
>
  <div class="lab-summary-widget">
    <div class="lab-summary-title">
      <span class="lab-summary-title-name body-small">
        Lab Summary | {{lab_name | safe}}
      </span>
      <span class="lab-summary-details-options">
        <a
          href="/lab_summary?lab_id={{lab_id}}&lab_name={{lab_name}}"
          class="activate_{{lab_id}} lab-summary-details nav-small"
          >See Lab Details</a
        >
        <img
          src="{{ url_for ('static', filename='images/GearSix.svg')}}"
          class="lab-summary-options light-icon rotate"
          onclick="{{lab_id}}_summary_options()"
        />
        <img
          src="{{ url_for ('static', filename='images/GearSix_dark.svg')}}"
          class="lab-summary-options dark-icon invisible-icon rotate"
          onclick="{{lab_id}}_summary_options()"
        />
      </span>
    </div>
    <div class="lab-summary-content">
      <!-- The gear box display -->
      <div
        class="body-small {{lab_id}}-lab-summary-gear-disp"
        style="display: none"
      >
        <div>Select 3 options.</div>
        <form action="/action_page.php">
          <div class="lab-summary-options-row">
            <span class="lab-summary-checkbox-span">
              <input
                type="checkbox"
                class="{{lab_id}}-gear-check"
                id="nrg-cons-check"
              />
              <label class="gear-check" for="nrg-cons-check"
                >Energy Consumption</label
              >
            </span>
            <span class="lab-summary-checkbox-span">
              <input
                type="checkbox"
                class="{{lab_id}}-gear-check"
                id="pwr-cons-check"
              />
              <label class="gear-check" for="pwr-cons-check"
                >Power Consumption</label
              >
            </span>
            <span class="lab-summary-checkbox-span">
              <input
                type="checkbox"
                class="{{lab_id}}-gear-check"
                id="hood-usage-check"
              />
              <label class="gear-check" for="hood-usage-check"
                >Fume Hood Use Status</label
              >
            </span>
          </div>
          <div class="lab-summary-options-row">
            <span class="lab-summary-checkbox-span">
              <input
                type="checkbox"
                class="{{lab_id}}-gear-check"
                id="occ-ratio-check"
              />
              <label class="gear-check" for="occ-ratio-check">Occupants</label>
            </span>
            <span class="lab-summary-checkbox-span">
              <input
                type="checkbox"
                class="{{lab_id}}-gear-check"
                id="ave-nrg-check"
              />
              <label class="gear-check" for="ave-nrg-check"
                >Average Energy Used</label
              >
            </span>
            <span class="lab-summary-checkbox-span">
              <input
                type="checkbox"
                class="{{lab_id}}-gear-check"
                id="nrg-trend-check"
              />
              <label class="gear-check" for="nrg-trend-check"
                >Energy Change</label
              >
            </span>
          </div>
        </form>
      </div>

      <span
        class="lab-summary-today-consumption lab-summary-option"
        style="display: none"
      >
        <div
          class="lab-summary-today-kwh widget-medium"
          id="{{lab_id}}-today-kwh"
        >
          ⠀
        </div>
        <div class="lab-summary-today-text body-small">
          Today's Energy Consumption
        </div>
      </span>
      <span
        class="lab-summary-current-consumption lab-summary-option"
        style="display: none"
      >
        <div
          class="lab-summary-current-kw widget-medium"
          id="{{lab_id}}-current-kw"
        >
          ⠀
        </div>
        <div class="lab-summary-current-text body-small">
          Current Power Consumption
        </div>
      </span>
      <span
        class="lab-summary-number-active lab-summary-option"
        style="display: none"
      >
        <div class="lab-summary-number widget-medium" id="{{lab_id}}-number">
          ⠀
        </div>
        <div class="lab-summary-number-text body-small">Fume Hoods in Use</div>
      </span>

      <!-- Occ Ratio -->
      <span
        class="lab-summary-occ-ratio lab-summary-option"
        style="display: none"
      >
        <div class="lab-summary-occ widget-medium" id="{{lab_id}}-occ">⠀</div>
        <div class="lab-summary-occ-text body-small">Occupants</div>
      </span>

      <!-- ave nrg -->
      <span
        class="lab-summary-ave-nrg lab-summary-option"
        style="display: none"
      >
        <div
          class="lab-summary-inner-ave-nrg widget-medium"
          id="{{lab_id}}-ave-nrg"
        >
          ⠀
        </div>
        <div class="lab-summary-ave-nrg-text body-small">
          Average Energy Used
        </div>
      </span>

      <!-- nrg trend -->
      <span
        class="lab-summary-nrg-trend lab-summary-option"
        style="display: none"
      >
        <div
          class="lab-summary-inner-nrg-trend widget-medium"
          id="{{lab_id}}-nrg-trend"
        >
          ⠀
        </div>
        <div class="lab-summary-nrg-trend-text body-small">
          Energy Change Since Yesterday
        </div>
      </span>
    </div>
  </div>
  <script>
    // On startup
    function {{lab_id}}_summary_setup() {
      let checkboxNames =
        localStorage.getItem("{{lab_id}}-checked") ??
        "nrg-cons-check;pwr-cons-check;hood-usage-check";
      console.log(checkboxNames);
      {{lab_id}}_summary_setChecks(checkboxNames);
      {{lab_id}}_summary_displayInnerWidgets(checkboxNames.split(";"));
      localStorage.setItem("{{lab_id}}-checked", checkboxNames);

      // requires you to deselect one before you can choose another
      $('input[type=checkbox].{{lab_id}}-gear-check').change(function(e){
        if ($('input[type=checkbox].{{lab_id}}-gear-check:checked').length > 3) {
              $(this).prop('checked', false)
        }
      })
    }

    function {{lab_id}}_summary_setChecks(checkStr) {
      let checkArr = checkStr.split(";");
      let allCheckboxes = $(".{{lab_id}}-lab-summary-gear-disp input");
      allCheckboxes.each(function (index) {
        $(this).prop("checked", false);
      });
      checkArr.forEach((id) => {
        $("#" + id).prop("checked", true);
      });
    }

    // arr is an array containing the ids of the inputs
    // that were checked in the function
    function {{lab_id}}_summary_displayInnerWidgets(arr) {
      // First, hide all the displays
      console.log("in display");
      $(".{{lab_id}}-lab-summary-gear-disp").css("display", "none");

      // Now, just show the relevant displays
      arr.forEach((id) => {
        switch (id) {
          case "nrg-cons-check":
            $(".lab-summary-today-consumption").css("display", "flex");
            break;
          case "pwr-cons-check":
            $(".lab-summary-current-consumption").css("display", "flex");
            break;
          case "hood-usage-check":
            $(".lab-summary-number-active").css("display", "flex");
            break;
          case "occ-ratio-check":
            $(".lab-summary-occ-ratio").css("display", "flex");
            break;
          case "ave-nrg-check":
            $(".lab-summary-ave-nrg").css("display", "flex");
            break;
          case "nrg-trend-check":
            $(".lab-summary-nrg-trend").css("display", "flex");
            break;
        }
      });
    }

    function {{lab_id}}_summary_options() {
      let allCheckboxes = $(".{{lab_id}}-lab-summary-gear-disp input");
      let checkboxNames = [];

      // If the gear was clicked when the options weren't displayed, display
      // them and do nothing more
      let allOptions = $(".lab-summary-option");
      if ($(".{{lab_id}}-lab-summary-gear-disp").css("display") == "none") {
        $(".{{lab_id}}-lab-summary-gear-disp").css("display", "");
        allOptions.css("display", "none");
        return;
      }

      allCheckboxes.each(function (index) {
        if ($(this).is(":checked")) {
          checkboxNames.push($(this).attr("id"));
        }
      });
      if (checkboxNames.length > 3) {
        return;
      }

      // This keeps the old ones checked if there are fewer than 3
      if (checkboxNames.length < 3) {
        let oldChecksArr = localStorage.getItem("{{lab_id}}-checked");
        {{lab_id}}_summary_setChecks(oldChecksArr);
        {{lab_id}}_summary_displayInnerWidgets(oldChecksArr.split(";"));
        return;
      }

      // If it gets to this point, it means we have a valid combo of checks;
      // We can now set these ones to be displayed

      // First, hide all the boxes for simplicity

      allOptions.css("display", "none");
      {{lab_id}}_summary_displayInnerWidgets(checkboxNames);

      localStorage.setItem("{{lab_id}}-checked", checkboxNames.join(";"));
    }

    $("document").ready({{lab_id}}_summary_setup);
  </script>
</div>
