<div class="widget-container">
  <div class="lab-summary-widget widget dark">
    <div class="lab-summary-title">
      <span class="lab-summary-title-name body-small">
        Lab Summary | {{lab_name}}
      </span>
      <span class="lab-summary-details-options">
        <a href="/lab_summary?lab_name={{lab_name}}" class="activate_{{lab_name}} lab-summary-details nav-small">See Lab Details</a>
        <img src="../static/images/GearSix.svg" class="lab-summary-options" />
      </span>
    </div>
    <div class="lab-summary-content">
      <span class="lab-summary-today-consumption">
        <div class="lab-summary-today-kwh widget-medium" id="{{lab_name}}-today-kwh"></div>
        <div class="lab-summary-today-text body-small">
          Today's Energy Consumption
        </div>
      </span>
      <span class="lab-summary-current-consumption">
        <div class="lab-summary-current-kw widget-medium" id="{{lab_name}}-current-kw"></div>
        <div class="lab-summary-current-text body-small">
          Current Power Consumption
        </div>
      </span>
      <span class="lab-summary-number-active">
        <div class="lab-summary-number widget-medium" id="{{lab_name}}-number"></div>
        <div class="lab-summary-number-text body-small">Fume Hoods in Use</div>
      </span>
    </div>
  </div>
</div>
