<!DOCTYPE html>
<html>
    <head>
        <title>Energy Monitoring</title>
        <link rel="stylesheet" href="../static/emp.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap"
          rel="stylesheet"
        />
        <!-- Importing JQuery at beginning for use in everything else -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Importing d3.js at the beginning for use in data visualizations -->
        <script src="https://d3js.org/d3.v4.min.js"></script>

    </head>
    <body>
        <div class="center-screen">
            <div id="dashboard">
                <!-- Content is shunted into here via Jinja2 template, dynamically per page -->
                {{dashboard_content|safe}}
            </div>
        </div>
    </body>
    <!-- define dark mode and menu open functions -->
    <script>
        "use strict";

        function setLightMode() {
            localStorage.setItem('dark_mode_on', '0');

            // set icons to the correct color
            $('#dark-mode-icon').attr('src', '../static/images/DarkMode.svg');
            $('.lab-summary-options').attr('src', '../static/images/GearSix_dark.svg');
            if (localStorage.getItem('menu_open') === '1') $('#hamburger-icon').attr('src', '../static/images/X_dark.svg');
            else $('#hamburger-icon').attr('src', '../static/images/List_dark.svg');

            // change remaining css
            $("body, a").css({"color": "#2A2A2A"});
            $("#dashboard").css({"background": "linear-gradient(29.82deg, #EEEEEE -3.61%, rgba(238, 238, 238, 0.5) 103.96%)"});
            $(".widget").css({"background": "white"});

            // ensure power consump widget stays white
            $(".power-consumption-widget").css({"color": "white"});
        }

        function setDarkMode() {
            localStorage.setItem('dark_mode_on', '1');

            // set icons to the correct color
            $('#dark-mode-icon').attr('src', '../static/images/LightMode.svg');
            $('.lab-summary-options').attr('src', '../static/images/GearSix.svg');
            if (localStorage.getItem('menu_open') === '1') $('#hamburger-icon').attr('src', '../static/images/X.svg');
            else $('#hamburger-icon').attr('src', '../static/images/List.svg');

            // change remaining css
            $("body, a").css({"color": "white"});
            $("#dashboard").css({"background": "linear-gradient(32.82deg, #2a2a2a -7.28%, rgba(42, 42, 42, 0.75) 107.76%)"});
            $(".widget").css({"background": "#2a2a2a"});
        }

        function toggleDarkMode() {
            // LightMode icon shows in dark mode, and vice versa
            let dark_mode_on = localStorage.getItem('dark_mode_on') ?? '1';
            if (dark_mode_on === '0') setDarkMode();
            else setLightMode();

            // If a barchart is located on the page, it will update the colors in the
            // chart using the global variable radio (which is set to the most recent
            // date option, eg dates, weeks, etc). If it's not, then just ignore it
            try {
                buildAllCharts();
            } catch {
                console.log("in catch");
            }
        }

        function setMenuClosed() {
            localStorage.setItem('menu_open', '0');
            $('.menu-hidden').hide();
            $('.menu-visible').show();
            // if dark mode is on, display white svg. else display gray one
            if (localStorage.getItem('dark_mode_on') === '0') $('#hamburger-icon').attr('src', '../static/images/List_dark.svg');
            else $('#hamburger-icon').attr('src', '../static/images/List.svg');
        }

        function setMenuOpen() {
            localStorage.setItem('menu_open', '1');
            $('.menu-hidden').show();
            $('.menu-visible').hide();
            // if dark mode is on, display white svg. else display gray one
            if (localStorage.getItem('dark_mode_on') === '0') $('#hamburger-icon').attr('src', '../static/images/X_dark.svg');
            else $('#hamburger-icon').attr('src', '../static/images/X.svg');
        }

        function toggleMenu() {
            let menu_open = localStorage.getItem('menu_open') ?? '0';
            if (menu_open === '0') setMenuOpen();
            else setMenuClosed();
        }

        function setup() {
            $('#dark-mode-icon').on('click', toggleDarkMode);
            $('#hamburger-icon').on('click', toggleMenu);
            console.log("setup");
        }

        $('document').ready(setup);
    </script>

    <!-- keep dark mode and menu open status consistent -->
    <script>
        // reset dark mode status, default to dark mode
        if (localStorage.getItem('dark_mode_on') === '0') setLightMode();
        // reset menu open status, default to closed
        // if (localStorage.getItem('menu_open') === '1') setMenuOpen();
        // reset menu to closed
        setMenuClosed();
    </script>

    <!-- handle real time data -->
    <script>
        "use strict";

        let request = null;

        function handle_fumehood_data(response) {
            for (const [key, value] of Object.entries(response)) {
                $("#fumehood" + key).text(value + " kW");
            }
        }

        function get_fumehood_data() {
            let url = "/fumehood_stuff";
            if (request != null) request.abort();

            request = $.ajax({
                type: "GET",
                url: url,
                success: handle_fumehood_data,
            });
        }

        function handle_rerender(response) {
            console.log('rerender');
            $('#dashboard').html(response);
            $('.activate_rabinowitz_icahn_201').on('click', lab_summary);
        }

        // render dashboard
        // function dashboard() {
        //     let url = "/";
        //     if (request != null) request.abort();

        //     request = $.ajax({
        //         type: "GET",
        //         url: url,
        //         success: handle_rerender,
        //     });
        // }

        function lab_summary() {
            let url = "/lab_summary?lab_name=rabinowitz_icahn_201";
            if (request != null) request.abort();

            request = $.ajax({
                type: "GET",
                url: url,
                success: handle_rerender,
            });
        }

        // --------------------------------------------------------
        // Real time data fetching code
        // --------------------------------------------------------

        // Change to url params in the future
        const labNames = ['rabinowitz_icahn_201']
        const fumehoodId = 'fumehood0'

        // get fumehood # from url params
        // const queryString = window.location.search;
        // const urlParams = new URLSearchParams(queryString);
        // const fumehoodId = urlParams.get('fumehood_id')

        // try to cram data into the corresponding tag with id
        function handle_rt_resp(response) {
            for (const [key, value] of Object.entries(response)) {

                // color fumehood open status the correct color
                if (key.endsWith("-mini-status")) {
                    $("#" + key).children("span").text(value)
                    if (value == "CLOSED") {
                        $("#" + key).children("span").addClass("green")
                        $("#" + key).children("span").removeClass("red")
                        $("#" + key).children("img").attr("src","../static/images/GreenDot.svg");
                    } else {
                        $("#" + key).children("span").addClass("red")
                        $("#" + key).children("span").removeClass("green")
                        $("#" + key).children("img").attr("src","../static/images/RedDot.svg");
                    }
                    continue;
                }
                if (key.endsWith("-status")) {
                    if (value == "OPEN") {
                        $("#" + key).addClass("red")
                        $("#" + key).removeClass("green")
                    }
                    else {
                        $("#" + key).addClass("green")
                        $("#" + key).removeClass("red")
                    }
                }

                // shunt in the correct value into the html
                $("#" + key).text(value);
            }
        }

        // retrieve real time data
        function get_rt_data() {
            labNames.forEach((labName) => {
                let url = "/real_time_data?lab_name=" + labName
                url += '&fumehood_id=' + fumehoodId
                request = $.ajax({
                    type: "GET",
                    url: url,
                    success: handle_rt_resp,
                });
            })
        }

        // set up document
        function setup() {
            get_rt_data();
            window.setInterval(get_rt_data, 1000);

            // reloads page if navigated to from the "back" button
            // important for persisting menu_open and dark_mode_on
            window.addEventListener("pageshow", function (event) {
                let historyTraversal = event.persisted ||
                    (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2 );
                if (historyTraversal) window.location.reload();
            });
        }

        $("document").ready(setup);
    </script>
</html>