<!DOCTYPE html>
<html>
  <head>
    <title>Energy Monitoring</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='emp.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- Importing JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Importing d3.js for data vis -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body class="invisible">
    <div class="center-screen">
      <div id="dashboard">
        <!-- Content is shunted into here via Jinja2 template, dynamically per page -->
        {{dashboard_content|safe}}
      </div>
    </div>
  </body>

  <!-- dark mode, money mode, menu open -->
  <script src="{{ url_for('static', filename='header_script.js')}}"></script>

  <!-- handle real time data -->
  <script src="{{ url_for('static', filename='real_time_data_script.js')}}"></script>

  <!-- print.js library -->
  <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

  <!-- prevents dark page flash on light mode -->
  <script>
    $("document").ready(() => {
      $(".invisible").removeClass("invisible");
    });
  </script>
</html>
