<div class="mini-fume-hood-widget widget">
  <div class="mini-fume-info">
    <div class="mini-fume-status">
      {% if fumehood_usage == 'OFF' %}
      <span class="mini-fume-status-text button-small green">CLOSED</span>
      <img src="../static/images/GreenDot.svg" />
      {% else %}
      <span class="mini-fume-status-text button-small red">OPEN</span>
      <img src="../static/images/RedDot.svg" />
      {% endif %}
    </div>
    <div class="mini-fume-name body-small">{{fumehood_name}}</div>
    <div id="{{fumehood_id}}" class="mini-fume-energy header-medium">
      {% if fumehood_usage == 'OFF' %} 0 kW {% else %}
      {{fumehood_usage}} kW {% endif %}
    </div>
  </div>
  <a href="/fumehood_summary?fumehood_id={{fumehood_id}}" class="mini-fume-details nav-small">See Details</a>
</div>

<script>
  "use strict";

  function setup() {
    // let fumehood_status = $('.mini-fume-status-text').html();
    // console.log(fumehood_status);
    // if (fumehood_status == 'OPEN') {
    //   $('.mini-fume-status-text').addClass('red');
    //   $('.mini-fume-status-text').removeClass('green');
    // } else {
    //   $('.mini-fume-status-text').removeClass('red');
    //   $('.mini-fume-status-text').addClass('green');
    // }
    console.log("setup");
  }

  $("document").ready(setup);
</script>
