<a
  id="{{fumehood_id}}-href"
  href="/fumehood_summary?lab_id={{lab_id}}&lab_name={{lab_name}}&fumehood_id={{fumehood_id}}"
  style="text-decoration: none"
>
  <div class="mini-fume-hood-widget widget dark">
    <div class="mini-fume-info">
      <div class="mini-fume-status" id="{{fumehood_id}}-mini-status">
        <span class="mini-fume-status-text button-small">⠀</span>
        <img />
      </div>
      <div id="{{fumehood_id}}-name" class="mini-fume-name body-small">⠀</div>
      <div id="{{fumehood_id}}-kw" class="mini-fume-energy header-medium">
        ⠀
      </div>
    </div>
    <p class="mini-fume-details nav-small">See Details</p>
  </div>
</a>

<script>
  function fh_setup() {
    let cached_rt_data = localStorage.getItem("{{lab_id}}_real_time_data");
    if (cached_rt_data) {
      cached_fumes = JSON.parse(cached_rt_data)["fumehoods"];
      let idx = parseInt("{{fumehood_id}}".slice(-1));
      let oldUrl;
      let i = 0;
      Object.entries(cached_fumes).forEach((arr) => {
        if (i == idx) {
          let name = "Fumehood " + arr[0].substring(2);
          oldUrl = $(
            ".{{lab_id}}-fume-hood-widget-container #fumehood" + i + "-href"
          ).attr("href");
          console.log(oldUrl);
          oldUrl = oldUrl.concat("&fumehood_name=");
          oldUrl = oldUrl.concat(name);
          $("#fumehood" + i + "-href").attr("href", oldUrl);
        }
        i++;
      });
    }
  }
  fh_setup();
</script>
