<a href="/fumehood_summary?lab_name=rabinowitz_icahn_201&fumehood_id={{fumehood_id}}" style="text-decoration: none;">
<div class="mini-fume-hood-widget widget dark">
  <div class="mini-fume-info">
    <div class="mini-fume-status" id="{{fumehood_id}}-mini-status">
      <span class="mini-fume-status-text button-small">⠀</span>
      <img />
    </div>
    <div id="{{fumehood_id}}-name" class="mini-fume-name body-small">⠀</div>
    <div id="{{fumehood_id}}-kw" class="mini-fume-energy header-medium">⠀</div>
  </div>
  <p class="mini-fume-details nav-small">See Details</p>
</div>
</a>
