<div class="power-consumption-widget widget">
  <div class="consumption-title body-small">Current Power Consumption</div>
  <div class="consumption-content">
    <span class="consumption-energy widget-large" id="{{lab_name}}-current-kw"></span>
    <img src="../static/images/ArrowsDownUp.svg" />
  </div>
  <div class="power-consumption-misc">
    <span class="power-consumption-percent body-small" id="{{lab_name}}-fumehood-energy-ratio"></span>
    <span class="consumption-date body-small"> 10.19.21 </span>
  </div>
</div>
