<div class="power-consumption-widget widget dark green-grad">
  <div class="consumption-title body-small">Current Power Consumption</div>
  <div class="consumption-content">
    <span
      class="consumption-energy widget-large"
      id="{{lab_name}}-current-kw"
    ></span>
    <img src="../static/images/ArrowsDownUp.svg" />
  </div>
  <div class="power-consumption-misc body-small">
    <span
      class="power-consumption-percent"
      id="{{lab_name}}-fumehood-energy-ratio"
    ></span>
    <span class="consumption-date"></span>
  </div>
</div>
