<div class="power-consumption-widget widget">
  <div class="consumption-title body-small">Current Power Consumption</div>
  <div class="consumption-content">
    <span class="consumption-energy widget-large"> 3.66 kW </span>
    <img src="../static/images/ArrowsDownUp.svg" />
  </div>
  <div class="power-consumption-misc">
    <span class="power-consumption-percent body-small">
      74% Fume Hoods 26% Other
    </span>
    <span class="consumption-date body-small"> 10.19.21 </span>
  </div>
</div>
