<!-- The HTML itself -->
<div class="widget-container report-widget-nest report-widget-internal-container
  {% if hidden %}
    {{lab_id}}-report-widget-hideable
    invisible-report
  {% endif %}
  ">
  <div class="report-widget">
    <span class="body-bold">{{report_date}}</span>
    <span class="report-widget-right-align">
      <span style="margin-right: 16px;">
        <a href="/report?lab_id={{lab_id}}&week_name={{report_date}}" class="body-small" style="margin: 1px 0px; line-height: 22px;">See Report Details</a>
      </span>
      <span id="{{lab_id}}_{{report_date_stripped}}">
      <img class="printer-icon light-icon" src="../static/images/Printer.svg">
      <img class="printer-icon dark-icon invisible-icon" src="../static/images/Printer_dark.svg">
      </span>
    </span>
  </div>
  <script>
    $("#{{lab_id}}_{{report_date_stripped}}").on("click", () => {
      let url = "/weekly_report?lab_id={{lab_id}}&date={{report_date}}";
      request = $.ajax({
        type: "GET",
        url: url,
        success: (response) => {
          printJS({printable: response, type: 'raw-html'});
          // console.log(response);
        },
      });
    });
  </script>
</div>

