<div style="margin-bottom: 16px; width: 100%;">
    <div class="body-bold heading-label">
        <span>{{text}}</span>
        <span class="heading-label-right-align">
            <span style="margin-right: 16px;">See All</span>
            <img class="caret-down-icon light-icon"
            src="{{ url_for ('static', filename='images/CaretDown.svg')}}">
            <img class="caret-down-icon dark-icon invisible-icon"
            src="{{ url_for ('static', filename='images/CaretDown_dark.svg')}}">
        </span>
    </div>
</div>
