<div class="energy-consumption-widget widget dark">
    <div class="consumption-title body-small">Current Room Temperature</div>
    <div class="consumption-content">
      <span
        class="consumption-energy widget-large"
        id="{{lab_name}}-temperature"
      >⠀</span>
      <img style="cursor:default" class="icon light-icon" src="../static/images/ThermometerSimple.svg" />
      <img style="cursor:default" class="icon dark-icon invisible-icon" src="../static/images/ThermometerSimple_dark.svg" />

    </div>
    <div class="power-consumption-misc body-small">
      <span
        class="power-consumption-percent"

      >Current Occupancy: <span id="{{lab_name}}-occ">⠀</span> Persons</span>
      <!-- <span class="consumption-date"></span> -->
    </div>
  </div>
