<div class="widget-container">
  <div class="lab-summary-widget widget dark">
    <div class="lab-summary-title">
      <span class="lab-summary-title-name body-small">
        Summary Statistics
      </span>
      <span class="lab-summary-details-options">
        <a
          href="/lab_summary?lab_id={{lab_id}}"
          class="activate_{{lab_id}} lab-summary-details nav-small"
          >See Lab Details</a
        >
        <!-- <img
          src="../static/images/GearSix.svg"
          class="lab-summary-options light-icon"
        />
        <img
          src="../static/images/GearSix_dark.svg"
          class="lab-summary-options dark-icon invisible-icon"
        /> -->
      </span>
    </div>
    <div class="lab-summary-content">
      <span class="lab-summary-today-consumption">
        <div
          class="lab-summary-today-kwh this_week_energy_consumption widget-medium"
          id="{{lab_id}}-week-kwh"
        >⠀</div>
        <div class="lab-summary-today-text body-small">
          This Week's Energy Consumption
        </div>
      </span>
      <span class="lab-summary-current-consumption">
        <div
          class="lab-summary-current-kw this_week_avg_power_consumption widget-medium"
          id="{{lab_id}}-average-kw"
        >⠀</div>
        <div class="lab-summary-current-text body-small">
          This Week's Average Power Consumption
        </div>
      </span>
      <span class="lab-summary-number-active">
        <div
          class="lab-summary-number this_week_avg_fumehood_usage widget-medium"
          id="{{lab_id}}-hours"
        >⠀</div>
        <div class="lab-summary-number-text body-small">
          This Week's Average Fume Hoods Usage Time / Day
        </div>
      </span>
    </div>
  </div>
</div>

<script>
  function handle_summary_resp(response) {
    for (const [key, value] of Object.entries(response)) {
      $("." + key).text(value);
    }
  }

  function get_report_summary_data() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const date = urlParams.get("week_name");
    const lab_id = urlParams.get("lab_id");

    let url = "/weekly_report_summary?date=" + date + "&lab_id=" + lab_id;
    request = $.ajax({
      type: "GET",
      url: url,
      success: handle_summary_resp,
    });
  }

  get_report_summary_data();
</script>
